apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: whoami-internal
  namespace: whoami
spec:
  secretName: whoami-internal-tls
  duration: 2160h
  renewBefore: 360h
  issuerRef:
    name: clusterissuer-lan-smarthome
    kind: ClusterIssuer
  commonName: whoami.smart.home
  dnsNames:
    - whomai.smart.home
    - whoami.whoami.svc.cluster.local

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: whoami-external
  namespace: whoami
spec:
  secretName: whoami-external-tls
  duration: 2160h
  renewBefore: 360h
  issuerRef:
    name: clusterissuer-cloudflare
    kind: ClusterIssuer
  commonName: whoami.brandonhowlett.com
  dnsNames:
    - whoami.brandonhowlett.com
